world
world_nether
world_the_end
logs
plugins/GroupManager/backup
plugins/WorldEdit/nmsblocks
plugins/WorldGuard/cache
plugins/GriefPreventionData/_schemaVersion
plugins/GriefPreventionData/ClaimData
plugins/GriefPreventionData/PlayerData
plugins/Core/core.sqlite
